/** @format */

body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: sans-serif, "Franklin Gothic Medium", "Arial Narrow", Arial;
}
/* --------------Header CSS------------- */

#header {
  height: 100vh;
  background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.user-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.user-box img {
  border-radius: 50%;
  width: 250px;
  border: 2px solid #6caed5;
}
.user-box h1 {
  color: #fff;
  font-weight: bold;
  margin: 10px;
}
.user-box p {
  color: #fff;
}
.scroll-btn {
  bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #fff;
  padding: 10px 10px 20px;
  border-radius: 30px;
}
.scroll-bar span {
  border: 2px solid #fff;
}
.scroll-bar {
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.navbar .navbar-toggler .fa {
  font-size: 35px;
}

/* ---------------About------------- */

.about {
  padding-top: 100px;
  /* padding-bottom: 50px; */
  margin-bottom: -130px;
}
.about .profile-img {
  height: 400px;
  border: 6px solid;
  /* padding: 0px 5px; */
  border-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.nav-bar {
  top: 0;
  position: sticky;
  z-index: 2;
}
.navbar {
  background-color: #000 !important;
}
.nav-link,
.navbar-brand {
  color: #fff !important;
}
.navbar-brand {
  font-family: "Aclonica", sans-serif;
  font-size: xx-large !important;
  margin-left: 60px;
  letter-spacing: 7px;
}
.navbar-brand:hover,
.nav-link:hover {
  color: rgba(58, 242, 214, 0.766) !important;
  transition: 0.5s;
}
.nav-bar .fa-bars {
  font-size: 80px;
  color: #fff;
}
.navbar-toggler {
  outline: none !important;
}
.navbar-nav {
  float: right;
  text-align: right;
}
.skills-bar p {
  margin-bottom: 6px;
  font-weight: 600;
}
.progress {
  border-radius: 16px !important;
  margin-bottom: 10px !important;
}
.progress-bar {
  border-radius: 16px !important;
  background: #333 !important;
}

/* -----------------Resume--------------------- */

.resume {
  margin-top: -50px;
  /* padding-top: 50px; */
  padding-bottom: 30px;
  background-color: #f9f9f9;
}
.resume h3 {
  margin-bottom: 50px;
}
.timeline {
  list-style-type: none;
  position: relative;
}
.timeline::before {
  content: "";
  background: #333;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 1;
}
.timeline li {
  margin: 25px 0px 25px 25px;
  background: #fff;
}
.timeline li h4 {
  background-color: #000;
  padding: 5px 0px 5px 20px;
  color: #fff;
  font-size: 15px;
}
.timeline li h4 span {
  font-weight: bold;
  color: #ccc;
}
.timeline li::before {
  content: "";
  background: #fff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #000;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

/* --------------------Services---------------------- */

.services {
  padding: 50px 0px;
}
.services h1 {
  margin: 15px 0px !important;
}
.service-box {
  background: #b8d446;
  padding: 15px 30px;
  margin-top: 20px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  /* text-align: center; */
}
.service-box .fa {
  margin: 0px 5px;
  font-size: 20px;
}
.service-box span {
  margin: 3px;
  font-size: 20px;
  font-weight: bold;
}
.service-box p {
  font-size: 15px;
  margin-top: 20px;
  color: #333;
}
.service-box:hover {
  background-color: #dacc0ddb;
  color: #fff;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: 0.5s;
}
.service-box:hover p {
  color: #fff;
}

/* -------------------Contact------------------- */

.contact {
  padding-top: 50px;
  background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(img/contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.contact .row {
  padding: 30px 0px;
  font-size: 22px;
}
.contact .col-md-4 .fa {
  padding: 10px;
  font-size: 40px;
}
.contact .btn {
  padding: 10px 25px;
  margin: 5px;
  border-radius: 30px;
  border: 2px solid #fff;
  background: transparent;
}
.contact .btn:focus {
  box-shadow: none !important;
}
.contact .btn:hover {
  border: 2px solid #000 !important;
  background-color: #000 !important;
  transition: 0.6;
}

.contact .btn .fa {
  margin-right: 10px;
}
.footer {
  background-color: #000;
  height: 50px;
  margin-top: 50px;
  color: #fff;
  padding-top: 10px;
}
.footer .fa-heart {
  color: red;
}

/* -------------------Social Icons------------------ */

.social-icons {
  top: 50% !important;
  transform: translateY(-50%);
  position: sticky;
  z-index: 1;
  width: 80px;
}
.social-icons ul {
  padding: initial;
}
.social-icons ul li {
  height: 40px;
  width: 40px;
  list-style: none;
  padding-left: 12px;
  padding-top: 6px;
  margin-top: 5px;
  color: #fff;
  background: #000;
}

.social-icons ul li:hover {
  padding-left: 30px;
  width: 80px;
  transition: 1s;
}
